#SlabShop{
    margin-left: 50px;
    margin-top: 30px;
}

#png{
    position:relative; bottom:45px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    left: 0px;
    border-radius: 0px;
    
}
.Indonesia{
    position:relative; bottom:60px;
    margin-left: 100px;
}
.dropbtl{
    position:relative; bottom:40px;
    margin-left:200px;

}
#png1{
    position: relative; bottom:40px; right:100px
}
.mb-3{
    position: relative; bottom:115px; left:400px;
    height: 38px;
width: 548px;
border-radius: 6px;
padding: 8px 16px 8px 16px;
}
#png2{
    position:relative; bottom:145px; left:900px;
}
.dropdown {
    position: relative; 
    color: rgb(87, 7, 87)
  }
#purple{
    position:relative; left:915px; bottom:140px;
   
}

#png3{
    position:relative; left:920px;bottom:140px;
}
#png4{
    position:relative; left:930px; bottom:140px;
}
#png5{
    position:relative; left:940px; bottom:140px;
}
#Popular{
   position:relative; bottom:120px; padding-left:20px;
}
  
#payment{
  padding-left:400px;
  position:relative; bottom:300px;
}
#card{
  position:relative; left:20px;
}
#smth{
  position:relative; left:370px;
}
#border{
  border:1px solid grey;
  padding: 20px;
 
}
#borderf{
  border:1px solid grey;
  
  
}




.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#show{
    position:relative; bottom:190px; 
    padding-left: 1300px;
    
}

#imagepurple{
  position:relative; left:30px; bottom:95px;

}
#imagepurplesecond{
   position:relative; bottom:95px; left:80px;
}
#imagepruplethird{
    position:relative;  bottom:10px;
    padding-left:30px; 
}
#Hide{
  position:relative; bottom:150px; left:1300px;
}
.input {
  display: none;
  margin: 5px;
  
  
   
}
input.rounded {

  border: 1px solid #ccc;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
 
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  
 
  font-size: 20px;
  
  padding: 4px 7px;

  outline: 0;

  -webkit-appearance: none;
  
}

input.rounded:focus {

  border-color: #339933;
  
}


.visible {
  display: block;
}

input:focus {
  border-color: #4d90fe;
  box-shadow: 0 0 5px #4d90fe;
}

input:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  
}


button[type="submit"]:hover {
  background-color: #4d90fe;
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
#BigBorder{
  position:relative; bottom:55px; right:20px;
}


.dropbtn {
    background-color: #52057B;
    ;
    color: white;
  
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    width: 160px;
    height: 50px;
   
  }
#choice{
  position:relative; bottom:180px; 
  padding-left:30px
}
#one{
padding-left:50px;
position:relative; bottom:150px;
}
#two{
padding-left:80px;
position:relative; bottom:150px;
}
#three{
  padding-left:90px;
  position:relative; bottom:150px;
}
#four{
  padding-left:110px;
  position:relative; bottom:150px
}
#five{
  padding-left:100px;
  position:relative; bottom:150px;
}
#six{
  padding-left:100px;
  position:relative; bottom:150px
}
#seven{
  padding-left:110px;
  position:relative; bottom:150px;
}
#eight{
  padding-left:90px;
  position:relative; bottom:150px;
}
#nine{
  padding-left:100px;
  position:relative; bottom:150px
}
#ten{
  padding-left:120px;
  position:relative; bottom:150px
}
#eleven{
  padding-left:120px;
  position:relative; bottom:150px;
}
#a{

position:relative; bottom:150px;
padding-left: 35px;
}
#b{
  position: relative; bottom:150px;
  padding-left:25px;
}
#c{
  position:relative; bottom:150px; right:5px;
}
#d{
  position:relative; bottom:150px; left:20px; 
}
#e{
  position:relative; bottom:150px; left:60px;
}
#f{
  position:relative; bottom:150px; left:70px;
}
#g{
  position:relative; bottom:150px; left: 100px;
}
#h{
  position:relative; bottom:150px; left:135px;
}
#i{
  position:relative; bottom:150px; left:180px;
}
#j{
  position:relative; bottom:150px; left:245px;
}
#k{
  position:relative; bottom:150px; left:300px;
}
#flash{
  position:relative; bottom:100px; 
  padding-left:20px;
}
#buttonwhite{
  position:relative; top:70px; left:900px
}
.sale-text {
  background-color:#FF00001A;
  color: #FF0000;
  float:right;
  padding-left:px;
  border-radius: 5px;
  font-weight: bold;
 letter-spacing: 2px;
 padding: 2px 2px 2px;
 position:relative; bottom:60px; right:10px;
}
#ora{
 position:relative; bottom:1735px;
 margin-left:1140px

}
#car{
margin-left:860px;
position:relative; bottom:1300px;
 
}
#bottle{
  margin-left:20px;

}
.progress{
  width: 180px;
  position:relative; left:10px;
  
}
#sold{
float:right;
position:relative; left:45px;
bottom:20px;
  
 
  
}
#headphones{
 position:relative; bottom:434px;
 margin-left: 300px;
}
#otherbottle{
  position:relative; bottom:867px;
  margin-left:580px; 
}
#features{
  color: #52057B;
  background-color: #52057B1A;
  width:120px;
  text-align: center;
  
  position:relative; left:320px; bottom: 1635px;
}
#pop{
  position:relative; bottom:1600px; left:20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 24px;
  color:white;
  
  width: 263px;
  height: 111px;
  
  background: linear-gradient(90deg, #BF5AE0 0%, #A811DA 100%);
  border-radius: 8px;
}
#wanted{
  position:relative; bottom:1711px; left:310px;
  display: flex;
  flex-direction: column;
  color:white;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 24px;
  
  width: 263px;
  height: 111px;
  
  background: linear-gradient(90deg, #06BEB6 0%, #48B1BF 100%);
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}
#shop{
  position:relative; bottom:2045px; left:1190px;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;
color:white;
gap: 24px;

width: 263px;
height: 111px;

background: linear-gradient(90deg, #F857A6 0%, #FF5858 100%);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
}
#Best{
  position:relative; bottom:1935px; left:910px;
  display: flex;
flex-direction: column;
align-items: flex-start;
color:white;
padding: 16px 24px;
gap: 24px;

width: 251px;
height: 111px;

background: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;


}
#p{
  padding-left:20px;
  position:relative; bottom:75px;
}
#clockori{
  position:relative; bottom:2000px; left:40px;

}
#clock1{
  position:relative; bottom:260px;
  margin-left: 350px;;
}
#clock2{
  position:relative; bottom:517px;
  margin-left: 700px;;
}
#clock3{
  position: relative; bottom:775px;
  margin-left: 1050px;;
}
#clock{
  
box-sizing: border-box;
text-align: left;
position:relative; bottom:1900px; left:20px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

width: 329px;
height: 188px;


background: #FFFFFF;

border: 1px solid #E2E2E2;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#sometexts{
  position:relative; bottom:105px; left:50PX;
}
#number{
  position:relative; bottom:115px; left:140px;

}
#topf{
  position:relative; bottom:1823px; left:600px;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;
gap: 24px;

width: 263px;
color:white;
height: 111px;

background: linear-gradient(90deg, #F85032 0%, #E73827 100%);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
#Icon{
  /* Icon */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 11px;
gap: 8px;

width: 37px;
height: 38px;

background: rgba(255, 255, 255, 0.25);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
    
#now{
position:relative; bottom:1600px;
margin-left:20px;
}
  
  #purchase{
  
  
   color:white;
   width: 95px;
   padding-top:15px;
   padding-bottom:10px;
   padding-left:20px;
}
#purch{
  background-color:  #52057B;
  ;
  color:white
}

  .dropbtn:hover, .dropbtn:focus {
    background-color: #9c27c6;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd;}
  

  .show {display:block;}

#today{
  position: relative; bottom:2690px; 
  margin-left:20px;
}
#compandlapt{
  color: #52057B;
  background-color: #52057B1A;
  width:120px;
  text-align: center;
  width:180px;
  
}
#but{
  background-color: #E6E8EC;
}
.review{
  margin-left:220px;
  position:relative; bottom:50px;
}
#sell{
  margin-left:180px; 
  position:relative; bottom:85px;
}
#location{
  margin-left:20px;
  position:relative; bottom:45px; left:20px;
}
#star{
 position:relative; top:32px; left:80px;
}
#star2{
  position:relative; top:32px; right:10px;
}
#star3{
  position:relative; top:32px; left:23px;
}
#star4{
  position:relative; top:32px; left:60px;
}
#star5{
  position:relative; top:32px; left:80px;
}
#star6{
  position:relative; top:32px; left:115px;
}
#star7{
  position:relative; top:32px; left:25px;
}
#star8{
  position:relative; top:32px; left:40px;
}
#star9{
  position:relative; top:32px; left:100px;
}
#star10{
  position:relative; top:32px; left:90px;
}



#locations{
  position:relative; top: 63px; right:115px;
}
#locations2{
  position:relative; top:63px; right:205px;
}
#locations3{
  position:relative; top:63px;right:170px;
}
#locations4{
  position:relative; top:63px;right:130px;
}
#locations5{
  position:relative; top:63px;right:110px;
}
#locations6{
  position:relative; top:63px; right:80px;
}
#locations7{
  position:relative; top:63px; right:170px;
}
#locations8{
  position:relative; top:63px; right:160px;
}
#locations9{
  position:relative; top:63px; right:100px;
}
#locations10{
  position:relative; top:64px; right:105px;
}

#clothing{
  margin-left:1140px; bottom:1555px; 
}
#shoes{
  margin-left:560px; bottom:820px; 
}
#somelaptop{
  margin-left:20px; bottom:2600px;
}
#keyboard{
  margin-left:280px; bottom:455px;
}
#selphone{
  margin-left:850px; bottom:1188px;
}
#ball{
   bottom:1500px;
}
#heels{
  bottom:455px; 
  margin-left:280px;
}
#jewel{
  bottom:820px;
  margin-left:560px;
}
#console{
  bottom:1188px; 
  margin-left:850px;
}
#chair{
  bottom:1550px;
  margin-left:1150px;
}
#banner{
  position:relative; bottom:2100px;
  margin-left:50px;
}
#card1{
  box-sizing: border-box;
  position:relative; bottom:1900px; left:20px;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 24px;
gap: 4px;

width: 259px;
height: 400px;

/* Style */

background: #FFFFFF;
/* Outline */

border: 1px solid #E2E2E2;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#card2{
  box-sizing: border-box;
  position:relative; bottom:2300px; left:380px;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 24px;
gap: 4px;

width: 259px;
height: 400px;

/* Style */

background: #FFFFFF;
/* Outline */

border: 1px solid #E2E2E2;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#card3{
  box-sizing: border-box;
  position:relative; bottom:2700px; left: 750px;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 24px;
gap: 4px;

width: 259px;
height: 400px;

/* Style */

background: #FFFFFF;
/* Outline */

border: 1px solid #E2E2E2;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#card4{
  box-sizing: border-box;
  position:relative; bottom:3100px; left:1120px;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 24px;
gap: 4px;

width: 259px;
height: 400px;

/* Style */

background: #FFFFFF;
/* Outline */

border: 1px solid #E2E2E2;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#p1{
  position:relative; right:80px; top:60px;
}
#p2{
  position:relative; top:18px; left:25px;
}
#p3{
  position:relative; bottom:25px; left:145px;
}
#number1{
  position:relative; bottom:40px; right:70px;
}
#number2{
  position:relative; bottom:83px; left:35px;
}
#number3{
  position:relative; bottom:125px; left:140px;
}
#verification{
  position:relative; top:40px; left:5px;
}
#super{
  position:relative; top:30px;
}
#channel{
  position:relative; bottom:380px; left:20px;
}
#mom{
  position:relative; bottom:2000px; 
  margin-left:20px;
}
#starone{
  position:relative; top:32px; right:10px;
}
#startwo{
  position:relative; top:30px; left:43px;
}
#starthree{
  position:relative; top:30px; left:20px;
}
#starfour{
  position:relative; top:30px; left:100px;
}
#starfive{
  position:relative; top:30px; left:100px;
}
#locationsone{
  position:relative; top:63px; right:200px;
}
#locationstwo{
  position:relative; top:63px; right:150px;
}
#locationsthree{
  position:relative; top:63px; right:180px;
}
#locationsfour{
  position:relative; top:63px; right:100px;
}
#locationsfive{
  position:relative; top:63px; right:100px;
}
#secondpart{
position:relative; bottom:400px;
}
#recommendation{
  position:relative; bottom:2650px;
  margin-left:20px;
}
#click{
  background-color: #9c27c6;
  color:white
}
#brand{
  padding-left:20px;
}
#pay{
  width:1400px;
}
#easy{
  width:600px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}



.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-item {
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}